/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading-font: "PT Sans", sans-serif;
  --body-font: "Open Sans", sans-serif;
  --oswald-font: "Oswald", sans-serif;
  --green-color: #0d9583;
  --yellow-color: #ffbb00;
  --red-color: #e30201;
  --blue-color: #375e97;
  --dark-grey: #3f3d4e;
  --primary-color: #333;
  --overlay-color: rgba(0, 0, 0, 0.7);
  --contact-bg: #f2f1f8;
}

body {
  font-family: var(--body-font);
  font-size: 100%;
  line-height: 1.6;
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  padding-top: 8.5rem;
}

p {
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-family: var(--heading-font);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

/* Header stylings */

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

#navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#header {
  background: #fff;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#header-img {
  width: 350px;
  height: auto;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  padding: 0 1rem;
  margin-right: 0.625rem;
  font-family: var(--oswald-font);
  font-size: 1.2rem;
}

.nav-link:hover {
  color: var(--yellow-color);
  transition: 400ms ease-in-out;
}

.button-secondary:last-child:hover {
  background: var(--yellow-color);
  color: var(--primary-color);
  transition: background 0.5s;
}

/* Global buttons */

.button {
  border: none;
  outline: none;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  border-radius: 2rem;
  padding: 0.6rem 3.5rem;
}

.button-highlight {
  background: var(--red-color);
  display: inline-block;
  opacity: 0.9;
  font-weight: 800;
  color: #fff;
  font-size: 1.125rem;
}

.button-highlight:hover {
  background: var(--green-color);
  transition: 300ms ease-in;
}

.button-secondary {
  background: var(--red-color);
  color: #fff;
}

.btn-small {
  padding: 0.3rem 1.5rem;
}
.button-large {
  padding: 1rem 5rem;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem 2.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 25px;
}

.btn:hover {
  background-color: var(--secondary-color);
}

/* Global buttons ends */

/* Showcase Area Styles */

.showcase .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.showcase h2 {
  font-size: 4rem;
  text-shadow: 1px 1px 1p var(--blue-color);
  color: var(--primary-color);
}

.showcase p {
  margin: 1rem 0;
}

/* Specifications */

.specifications {
  margin-top: 3rem;
  position: relative;
  background: url("../images/overlay-dark.jpg") no-repeat fixed bottom
    center/cover;
  height: 37.5em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; /* height and width set to 100% so it covers entire bg */
  background-color: var(--overlay-color);
}

.spec-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 860px;
  padding: 3rem 0;
}

.spec-inner h3 {
  font-size: 3.5rem;
  margin-bottom: 0.625rem;
  text-align: center;
}

.spec-list li {
  text-align: justify;
  line-height: 2.5;
  padding: 0 1rem;
}

.spec-list li strong {
  margin-right: 0.625rem;
  text-transform: uppercase;
  color: var(--red-color);
}

/* Gallery Section */

.product-gallery .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.product-gallery .gallery a:first-child {
  grid-row: 1/3;
  grid-column: 1/3;
}

.product-gallery .gallery a:nth-child(2) {
  grid-column: 3/5;
}

.product-gallery .gallery img,
.product-gallery a {
  width: 100%;
  height: 100%;
}

/* Product Review */
.review h3 {
  text-align: center;
  font-size: 3.5rem;
  padding: 1.5rem 0;
  margin: 1rem 0;
  color: #fff;
}
.review {
  background: var(--dark-grey);
  padding: 3rem 1rem;
}

.review .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  max-width: 100%;
}

/* Footer */

/* footer section */

.section-footer {
  padding: 4rem 0;
  color: #fff;
  background: var(--primary-color);
}

.section-footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.section-footer h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.section-footer a {
  line-height: 1.9;
  color: #ccc;
}

.section-footer a:hover {
  color: var(--green-color);
}

.section-footer a > i {
  color: #555;
  margin-right: 0.5rem;
}

.section-footer a > i:hover {
  color: var(--green-color);
}

.email-form {
  width: 100%;
  display: inline-block;
  background: #555;
  border-radius: 20px;
  position: relative;
  line-height: 0;
  margin-top: 1rem;
}

.email-form .form-control {
  display: inline-block;
  border: 0;
  outline: 0;
  color: #ddd;
  font-size: 1rem;
  background: transparent;
  font-family: inherit;
  padding: 0 3rem 0 1.5rem;
  height: 45px;
  border-radius: 20px;
}

.email-form .submit {
  display: inline-block;
  position: absolute;
  border: 0;
  top: 0;
  right: 0;
  outline: 0;
  width: 45px;
  height: 45px;
  margin: 0;
  background: var(--green-color);
  color: #333;
  text-align: center;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0 20px 20px 0px;
}

#submit i {
  color: #fff;
}

/* Media Queries */

@media screen and (max-width: 800px) {
  .section-footer .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-footer h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 650px) {
  .section-footer .container {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  body {
    padding-top: 11rem;
  }

  .product-gallery .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-gallery .gallery a:first-child {
    grid-row: 1/1;
    grid-column: 1/1;
  }
  .product-gallery .gallery a:nth-child(2) {
    grid-row: 2/2;
    grid-column: 2/4;
  }

  .showcase .container {
    grid-template-columns: 1fr;
  }

  .showcase .container div:first-child {
    order: 2;
  }
  .showcase .container div:last-child {
    order: 1;
  }

  .showcase img {
    width: 100%;
  }

  .showcase h2 {
    font-size: 3rem;
    text-align: left;
  }

  .review .container {
    grid-template-columns: 1fr;
  }

  .review h3 {
    font-size: 2.5rem;
  }

  .spec-inner {
    margin: auto;
    padding: 0 1rem;
  }

  .spec-inner h3 {
    font-size: 2.5rem;
    margin-bottom: 0.625rem;
    padding: 1rem 0;
    text-align: center;
  }

  .spec-list li {
    text-align: justify;
    font-size: 0.875rem;
    line-height: 1.6;
    padding: 0.3125 1rem;
    font-weight: 500;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-items {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }

  .nav-link {
    padding: 0 1rem;
    margin-right: 0.625rem;
    font-family: var(--oswald-font);
    font-size: 1.2rem;
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .section-footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .section-footer h3 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1rem 0;
  }

  .section-footer a {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
